---
import { JOBS } from "../../constants/jobs";
---

<!-- JOBS -->

<section class="p-4">
    <span>
        <h2 class="mb-4 text-lg text-slate-100 flex items-center gap-1">
            Where I've Worked
            <svg class="w-6 h-6 inline stroke-slate-100" viewBox="0 0 24 24" id="job" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="secondary" d="M16,7H8V4A1,1,0,0,1,9,3h6a1,1,0,0,1,1,1Zm1,4H7m8,0v2" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><rect id="primary" x="5" y="5" width="14" height="18" rx="1" transform="translate(26 2) rotate(90)" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></rect></g></svg>
        </h2>
    </span>

    <ul>
        {JOBS.map(experience => (
            <li class="rounded-lg lg:px-5 py-2 lg:hover:bg-[#8892b020] lg:hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] transition-all duration-500 mt-3">
                <a href={experience.url} target="_blank" class="flex group hover:cursor-pointer flex-col md:flex-row">
                    <div class="place-self-center min-w-1/4 py-1">
                        <p class="text-center pr-4 text-xs font-semibold group-hover:text-slate-100 transition-colors duration-500">{experience.duration}</p>
                    </div>
                    <div class="min-w-3/4 border-t-2 py-1 md:border-l-2 md:border-t-0 border-sky-400 pl-4">
                        <p class="text-sky-400 font-semibold">
                            <svg class="w-4 h-4 inline stroke-sky-400 transition-transform group-hover:rotate-45 transition-all duration-500 ease-in-out" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M13.5442 10.4558C11.8385 8.75022 9.07316 8.75022 7.36753 10.4558L4.27922 13.5442C2.57359 15.2498 2.57359 18.0152 4.27922 19.7208C5.98485 21.4264 8.75021 21.4264 10.4558 19.7208L12 18.1766" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M10.4558 13.5442C12.1614 15.2498 14.9268 15.2498 16.6324 13.5442L19.7207 10.4558C21.4264 8.75021 21.4264 5.98485 19.7207 4.27922C18.0151 2.57359 15.2497 2.57359 13.5441 4.27922L12 5.82338" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            {experience.role} • {experience.company}
                        </p>
                        <ul class="pl-4">
                            {experience.responsabilities.map(responsability => (
                                <li class="list-disc group-hover:text-slate-100 transition-colors duration-500">{responsability}</li>
                            ))}
                        </ul>
                    </div>
                </a>
            </li>
        ))}
    </ul>
</section>